<div class="flex">
    <div class="col">
        <div class="flex flex-column w-15rem surface-border bg-gray-200">
            <a 
                href="#"
                class="col-12 no-underline border-bottom-1 text-color border-400"
                *ngFor="let server of servers"
            >
                {{server.name}}
            </a>
        </div>
    </div>
    <div class="col-12">
        <app-edit-server></app-edit-server>
        <hr>
        <app-server></app-server>
    </div>
</div>